header{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 90px;
    top: 0px;
    position: fixed;
    margin-top: 0; /* Assurez-vous que la marge supérieure est à zéro */
    left: 0;
    right: 0;
    
}
body{
    position: relative;
    background-color: #f5f1f1;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Fait en sorte que le corps ait une hauteur minimale de 100% de la hauteur de la fenêtre */
     /* Ajoute une marge en haut équivalente à la hauteur du header */
    margin-left: 200px;
   margin-top: 0;
   
}
#log1{
    padding-left: 30px;
    height: 95px;
    width: 120px;
   position: relative;
   left: 0;
  
}
#button_nav{
    cursor: pointer; /* Curseur au survol */
    transition: background-color 0.3s ease;
  border: none;
   color: azure;
    font-size: 20px; 
    font-family: 'IM Fell English SC'; 
    height: 30px;
    margin: 20px;
    background-color:#0b0a0a;
    
}

  nav {
        position: absolute;
        margin-top: 50px;
        display: inline;
    }
    #button_nav:hover {
        background-color: #f40909; /* Couleur de fond au survol */
    }
footer{
    
    
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
    z-index: 998;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 6, 6);
    position: fixed; /* Position fixe pour rester en bas de la fenêtre */
    bottom: 0; /* Le footer sera fixé en bas de la fenêtre */
    width: 100%;
    height: 90px;
    left: 0;
}
footer img {
    
    margin-right: 10px; /* Espacement à droite de l'image */
}

footer p {
    margin: 0; /* Supprimer les marges par défaut */
}

footer i {
    font-size: 24px; /* Taille de la police de l'icône */
    margin: 0 20px; /* Espacement horizontal autour de l'icône */
}
#log2{
   margin-left: 30px;
    display: flex;
    height: 95px;
    width: 120px;
   position: fixed;
   left: 0px;
    

}

#bare_gauche {  overflow-y: scroll;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
      
     bottom: 90px;
    position: fixed; /* Utiliser une position fixe */
    top: 0; /* Positionner le volet gauche en haut de la page avec un décalage de 80px correspondant à la hauteur du header */
    left: 0;
     /* Laisser un espace de 90px en bas pour éviter que le volet gauche ne chevauche le footer */
    width: 200px;
    background-color: #000000;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
}

#bare_gauche label {
    margin-top: 10px;
    font-weight: bold;
    font-family:'IM Fell English SC' ;
    display: flex;
    padding: 5px;
    font-size: 19px;
    margin-bottom: 5px; 
    color: rgb(108, 2, 60);
}
#bare_gauche select {
    width: 100%;
    margin-bottom: 90px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    background-color: #333;
}
ul li a {
   
    color: inherit; /* Utilise la couleur de texte par défaut */
    text-decoration: none; /* Supprime la soulignement du lien */
  }
  .ls { min-height: 100vh;
    margin-top: 80px;
    bottom: 90px;
     margin-bottom: 90px; 
    padding-bottom: 20px;
    list-style: none; /* Supprime les puces de la liste */
    padding: 0; /* Supprime les marges intérieures de la liste */
    display: flex; /* Utilise le modèle de boîte flexible */
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
}

.ls li { 
    
    padding-bottom: 20px;
    margin-bottom: 90px; 
    width: 100%; /* Définir une largeur de 100% pour chaque élément de liste */
    margin-bottom: 10px; /* Ajoute un espace entre chaque élément de liste */
    text-align: center; /* Centre le texte à l'intérieur de chaque élément de liste */
}
.bot{
    min-height: 100vh;
    margin-top: 80px;
     margin-bottom: 90px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
    margin-left: 20%;
    
}